<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About Us')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<section class="header-border d-flex justify-content-center align-items-center" style="background-color: #576541; ">
    <div class="header-fill d-flex justify-content-center align-items-center" style="background-color: #876A3B;">
        <div class="social">
            <img class="social-img" src="/img/Social-lg.png"/>
        </div>
    </div>
</section>

<div class="container"><!---->
    <h1 class="text-center mt-5" style="color: #576541;">Thanks for visiting Social Code!</h1>
    <h3 class="text-center mt-2 mb-3" style="color: #576541;">About the Developers</h3>
</div>
    <div class="container-fluid aboutUs-container">
        <div class="row aboutUs-row justify-content-center text-center mb-5" style="margin: 0px; padding: 0px">
    <!--        <div class="card-columns text-center">-->
                        <div class="card col-12 col-lg-6" style="width: 18rem;">
                            <div class="card-header text-center" style="background-color: #576541; ">
                                <img id="all-image" src="https://cdn.filestackcontent.com/A1hyCHTrue3T1cPWNi0A"
                                     class="image--cover all-profile-image" width="100%"/>
                            </div>
                            <div class="card-body">
                                <h2><span>Emily Bowersox</span></h2>
                                <p  class="mt-5" style="font-family: 'Open Sans'; font-weight: lighter">Software developer with a passion for collaboration, sustainability, style and pop culture. After working for years in the non-profit sector leading volunteer teams and collaborating on projects and events with staff, I have experience in project management, conflict resolution, leadership, and working with others to develop their strengths. I am excited to now be in the technology industry and to be able to develop tangible products to improve others' lives.</p>
                            </div>
                            <div class="card-footer">
                                <a class="card-text" href="https://github.com/emilybowersox" target="_blank">
                                    <img class="github" src="/img/4.png"/>
                                </a>
                                <a class="card-text" href="https://www.linkedin.com/in/emily-bowersox/" target="_blank">
                                    <img class="linkedin" src="/img/5.png"/>
                                </a>
                                <a class="card-text" href="mailto:emilygbowersox@gmail.com" target="_blank"><img class="aboutUs-email" src="/img/email.png"/></a>
                                <hr>
                                <a class="card-text" href="https://alumni.codeup.com/students/835" target="_blank">Alumni Portal</a>
                            </div>
                        </div>

                        <div class="card  col-12 col-lg-6  " style="width: 18rem;">
                            <div class="card-header text-center" style="background-color: #576541; ">
                                <img id="all-image" class="image--cover all-profile-image"
                                     src="https://cdn.filestackcontent.com/n4ZsBhcXQ3yLni1uXy6X" width="100%"/>
                            </div>
                            <div class="card-body">
                                <h2><span>Sung Il Lee</span></h2>
                                <p  class="mt-5" style="font-family: 'Open Sans'; font-weight: lighter">I am a Software Developer who enjoys learning new ways to use code. I am a detail-oriented, adaptive, honest person who has a keen eye for collaboration. I enjoy working as an individual and as a team member. With my Mechanical Engineering background, I find myself looking to what's next in Software Development. I look forward to becoming a Software Developer who can create user-friendly functionality to web applications.</p>
                            </div>
                            <div class="card-footer">
                                <a class="card-text" href="https://github.com/sungillee90" target="_blank">
                                    <img class="github" src="/img/4.png"/>
                                </a>
                                <a class="card-text" href="https://www.linkedin.com/in/sungillee/" target="_blank">
                                    <img class="linkedin" src="/img/5.png"/>
                                </a>

                                <a class="card-text" href="mailto:sungil.lee90@gmail.com" target="_blank"><img class="aboutUs-email" src="/img/email.png" /></a>
                                <hr>
                                <a class="card-text" href="https://alumni.codeup.com/students/826" target="_blank">Alumni Portal</a>
                            </div>
                        </div>

                        <div class="card  col-12 col-lg-6  " style="width: 18rem;">
                            <div class="card-header text-center" style="background-color: #576541; ">
                                <img id="all-image" class="image--cover all-profile-image"
                                     src="https://cdn.filestackcontent.com/wzQARfXkSoexWAXBjYMW" width="100%"/>
                            </div>
                            <div class="card-body">
                                <h2><span>Ronnel Palencia</span></h2>
                                <p  class="mt-5" style="font-family: 'Open Sans'; font-weight: lighter">On a full-time basis, I am a passionate Front End Developer. When I am not studying, I enjoy reading about design. This keeps me on a constant road of discovery because it challenges me intellectually as well as creatively. Most importantly, my professional background as a business owner has helped me identify the core values I get to carry into this next chapter: Self motivation, the willingness to be a lifelong learner, and an extraordinary work ethic.</p>
                            </div>
                            <div class="card-footer">
                                <a class="card-text" href="https://github.com/rmpalgo" target="_blank">
                                    <img class="github" src="/img/4.png"/>
                                </a>
                                <a class="card-text" href="https://www.linkedin.com/in/ronnel-palencia/" target="_blank">
                                    <img class="linkedin" src="/img/5.png"/>
                                </a>
                                <a class="card-text" href="mailto:ronnel.m.palencia@gmail.com" target="_blank"><img class="aboutUs-email" src="/img/email.png" /></a>
                                <hr>
                                <a class="card-text" href="https://alumni.codeup.com/students/831" target="_blank">Alumni Portal</a>
                            </div>
                        </div>

                        <div class="card col-12 col-lg-6  " style="width: 18rem;">
                            <div class="card-header text-center" style="background-color: #576541; ">
                                <img id="all-image" class="image--cover all-profile-image"
                                     src="https://cdn.filestackcontent.com/K2xsjPuxTv7rOZU5xiqt" width="100%"/>
                            </div>
                            <div class="card-body">
                                <h2><span>DeLayne LaBove</span></h2>
                                <p class="mt-5" style="font-family: 'Open Sans'; font-weight: lighter">On a full-time basis, I am a passionate Front End Developer. When I am not studying, I enjoy reading about design. This keeps me on a constant road of discovery because it challenges me intellectually as well as creatively. Most importantly, my professional background as a business owner has helped me identify the core values I get to carry into this next chapter: Self motivation, the willingness to be a lifelong learner, and an extraordinary work ethic.</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://github.com/Delabove" target="_blank">
                                    <img class="github" src="/img/4.png"/>
                                </a>
                                <a href="https://www.linkedin.com/in/delayne-labove-66b07813b/" target="_blank">
                                    <img class="linkedin" src="/img/5.png"/>
                                </a>
                                <a href="mailto:delayne.labove@gmail.com" target="_blank"><img class="aboutUs-email" src="/img/email.png" /></a>
                                <hr>
                                <a class="card-text" href="https://alumni.codeup.com/students/836" target="_blank">Alumni Portal</a>
                            </div>
                        </div>
        </div>
    </div>

<footer>
    <div class="container">
        <div class="row m-5">
            <div class="col-12 text-center">
                <div><img src="img/integrationtests.gif" alt="integration tests gif" style="max-width: 100%"></div>
                <h6 class="mt-5 ml-5 mr-5" style="font-family: 'Open Sans'; font-weight: lighter">Although there is a proliferation of resources to learn how to code online, nothing can replace the human
                    element of learning alongside others who are on similar learning journeys. We created Social Code so that
                    coders could have a convenient place to be able to come together and easily schedule video chats with others
                    to learn and collaborate.</h6> <br>
                   <h5 class="mb-5" style="font-family: 'Open Sans'; font-weight: bolder"> Social Code is a full-stack application created using the MVC design pattern and is built with
                    Spring Boot, Hibernate, Thymeleaf, Java, JQuery, Javascript, CSS, HTML, and utilizes Integration
                    Testing.</h5>
            </div>
        </div>
    </div>
</div></footer>


<th:block th:replace="fragments/footer :: footer-script"></th:block>
</body>
</html>