<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About us')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<section class="header-border d-flex justify-content-center align-items-center" style="background-color: #576541; ">
    <div class="header-fill d-flex justify-content-center align-items-center" style="background-color: #876A3B;">
        <div class="social">
            <img class="social-img" src="/img/Social-lg.png"/>
        </div>
    </div>
</section>
<!---->

<div class="container">
    <h1 id="welcome-header" class="text-center" style="color: #576541;">Thanks for visiting Social Code!</h1>
    <h3 class="text-center get-going mt5" style="color: #576541;">About the Creators</h3>
</div>
    <!---->

<div class="d-flex justify-content-center mt-5">

            <!--CARD 1 -->
<!--       this top element is the issue, add back in grey border, limit length of card  -->
<!--         class="card" was giving the border, but also enlarged the header to fill the card's length-->
                <div class="view-all-card text-center">
                    <div class="card-header view-all-card-header d-flex justify-content-center">
                        <img id="all-image" src="https://cdn.filestackcontent.com/A1hyCHTrue3T1cPWNi0A"
                             class="image--cover all-profile-image" width="100%"/>
                    </div>
                    <div class="card-body">
                        <h1><span>Emily Bowersox</span></h1>
                    </div>
                    <div class="card-footer text-center">
                        <span>Software developer with a passion for collaboration, sustainability, style and pop culture. Bringing in a background in management, teaching, and customer service, I am looking to work with a team where we can create intuitive software applications that add value to users' lives. </span>
                        <br>
                        <!-- Button trigger modal -->
                        <button type="submit" class="btn btn-success text-center mt-3" data-toggle="modal"
                                data-target="#emilyModal">
                            Contact Me
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="emilyModal" tabindex="-1" role="dialog"
                             aria-labelledby="emilyModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="emilyModalLabel">Contact Emily</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span>Email: emilygbowersox@gmail.com</span>
                                        <br>
                                        <a href="https://alumni.codeup.com/students/835" target="_blank">Alumni
                                            Portal</a>
                                        <br>
                                        <a href="https://github.com/emilybowersox" target="_blank">GitHub</a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/emily-bowersox/"
                                           target="_blank">LinkedIn</a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


<!--CARD 2 -->
        <div class="view-all-card text-center">
            <div class="card-header view-all-card-header d-flex justify-content-center">
                <img id="all-image" class="image--cover all-profile-image"
                     src="https://cdn.filestackcontent.com/n4ZsBhcXQ3yLni1uXy6X" width="100%"/>
            </div>
            <div class="card-body">
                <h1><span>Sung Il Lee</span></h1>
            </div>
            <div class="card-footer text-center">
                <span>I am a Software Developer who enjoys learning new ways to use code. I am a detail-oriented, honest person who has a keen eye for collaboration. I enjoy working as an individual and as a team member. With my Mechanical Engineering background, I find myself looking to what's next in Software Development. I look forward to becoming a Software Developer who can create user-friendly functionality to web applications. </span>
                <br>
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-success text-center mt-3" data-toggle="modal"
                        data-target="#sungModal">
                    Contact Me
                </button>
                <!-- Modal -->
                <div class="modal fade" id="sungModal" tabindex="-1" role="dialog" aria-labelledby="sungModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sungModalLabel">Contact Sung</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span>Email: sungil.lee90@gmail.com</span>
                                <br>
                                <a href="https://alumni.codeup.com/students/826" target="_blank">Alumni Portal</a>
                                <br>
                                <a href="https://github.com/sungillee90" target="_blank">GitHub</a>
                                <br>
                                <a href="https://www.linkedin.com/in/sungillee/" target="_blank">LinkedIn</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--CARD 3-->
        <div class="view-all-card text-center">
            <div class="card-header view-all-card-header d-flex justify-content-center">
                <img id="all-image" class="image--cover all-profile-image"
                     src="https://cdn.filestackcontent.com/wzQARfXkSoexWAXBjYMW" width="100%"/>
            </div>
            <div class="card-body">
                <h1><span>Ronnel Palencia</span></h1>
            </div>
            <div class="card-footer text-center">
                <span>Software developer who is enthusiastic about developing applications that prepare businesses with the proper tools to face and evolve in an ever-changing environment. My past experience in operating an e-commerce business has given me an insight to the effectiveness of data-driven tools and technologies in making informed decisions. I thrive in a team environment that promotes collaborative effort in solving problems, and I embrace life-long learning that I will apply to my personal and professional development. </span>
                <br>
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-success text-center mt-3" data-toggle="modal"
                        data-target="#ronnelModal">
                    Contact Me
                </button>
                <!-- Modal -->
                <div class="modal fade" id="ronnelModal" tabindex="-1" role="dialog" aria-labelledby="ronnelModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ronnelModalLabel">Contact Ronnel</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span>Email: ronnel.m.palencia@gmail.com</span>
                                <br>
                                <a href="https://alumni.codeup.com/students/831" target="_blank">Alumni Portal</a>
                                <br>
                                <a href="https://github.com/rmpalgo" target="_blank">GitHub</a>
                                <br>
                                <a href="https://www.linkedin.com/in/ronnel-palencia/" target="_blank">LinkedIn</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--CARD 4-->
    <div class="view-all-card text-center">
        <div class="card-header view-all-card-header d-flex justify-content-center">
            <img id="all-image" class="image--cover all-profile-image"
                 src="https://cdn.filestackcontent.com/K2xsjPuxTv7rOZU5xiqt" width="100%"/>
        </div>
        <div class="card-body">
            <h1><span>DeLayne LaBove</span></h1>
        </div>
        <div class="card-footer text-center">
            <span>On a full-time basis, I am a passionate Front End Developer. When I am not studying, I enjoy reading about design. This keeps me on a constant road of discovery because it challenges me intellectually as well as creatively. I am excited to say that I will be finished with school at the end of July and can't wait to see what I have to look forward to in the future!</span>
            <br>
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-success text-center mt-3" data-toggle="modal"
                    data-target="#delayneModal">
                Contact Me
            </button>
            <!-- Modal -->
            <div class="modal fade" id="delayneModal" tabindex="-1" role="dialog" aria-labelledby="delayneModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delayneModalLabel">Contact DeLayne</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span>Email: delayne.labove@gmail.com</span>
                            <br>
                            <a href="https://alumni.codeup.com/students/836" target="_blank">Alumni Portal</a>
                            <br>
                            <a href="https://github.com/Delabove" target="_blank">GitHub</a>
                            <br>
                            <a href="https://www.linkedin.com/in/delayne-labove-66b07813b/" target="_blank">LinkedIn</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>




<th:block th:replace="fragments/footer :: footer-script"></th:block>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $('#emilyModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    $('#sungModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    $('#ronnelModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    $('#delayneModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
<th:block th:replace="fragments/footer :: footer-script"></th:block>
</body>
</html>