<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background-color: white">
<head th:include="fragments/head :: head('Calendar Event')">
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
    <style>
        html {
            background-color: white;
        }
        div.fc-content span.fc-time {
            color: white;
        }
    </style>
</head>
<body>
<header><nav th:replace="fragments/navbar :: navbar"></nav></header>
<div id='calendar' class="shadow p-3 mb-5 bg-white rounded" style="margin: 30px auto 30px auto; width: 1200px;"></div>

<th:block th:replace="fragments/footer :: footer-script"></th:block>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
<script src="js/calendar.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.css" />
<style>
    html body div#calendar  {
        color: #68ba68;
    }
</style>

<script>
$(document).ready(function () {
    $('#calendar .fc-toolbar').css("color", "white");
});
    // $(function() {
    //
    //     $(document).ready(function() {
    //         // Fetch our events
    //         $.ajax({
    //             url: "/posts.json",
    //             method: "GET",
    //             datatype: "json",
    //             data: {
    //                 "$where" : "start_date_time > '" + moment().subtract(31, 'days').format("YYYY-DD-MMT00:00:00") + "'",
    //                 "city" : "Portland",
    //                 "$order" : "start_date_time DESC"
    //             }
    //         }).done(function(response) {
    //             // Parse our events into an event object for FullCalendar
    //             var events = [];
    //             $.each(response, function(idx, e) {
    //                 events.push({
    //                     start: e.start_date_time,
    //                     end: e.end_date_time,
    //                     title: e.title
    //                 });
    //             });
    //             $('#calendar').fullCalendar({
    //                 events: events
    //             });
    //         });
    //     });
    // });
    // document.addEventListener('DOMContentLoaded', function() {
    //     var calendarEl = document.getElementById('calendar');
    //     var calendar = new FullCalendar.Calendar(calendarEl, {
    //         initialView: 'dayGridMonth'
    //     });
    //     calendar.render();
    // });
    //
    // $('#calendar').fullCalendar({
    //
    //     eventSources: [
    //
    //         // your event source
    //         {
    //             url: '/myfeed.php',
    //             type: 'POST',
    //             data: {
    //                 custom_param1: 'something',
    //                 custom_param2: 'somethingelse'
    //             },
    //             error: function() {
    //                 alert('there was an error while fetching events!');
    //             },
    //             color: 'yellow',   // a non-ajax option
    //             textColor: 'black' // a non-ajax option
    //         }
    //
    //         // any other sources...
    //
    //     ]
    //
    // });

    // $('#calendar').fullCalendar({
    //     events: [
    //         {
    //             title: 'Event Title1',
    //             start: '2020-07-17T13:13:55.008',
    //             end: '2020-07-19T13:13:55.008'
    //         },
    //         {
    //             title: 'Event Title2',
    //             start: '2020-07-17T13:13:55-0400',
    //             end: '2020-07-19T13:13:55-0400'
    //         }
    //     ]
    // });

</script>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Calendar</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.1.0/main.min.css,npm/fullcalendar@5.1.0/main.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.1.0/main.min.js,npm/react-full-calendar@0.12.3,npm/fullcalendar@5.1.0,npm/fullcalendar@5.1.0/locales-all.min.js,npm/fullcalendar@5.1.0/locales-all.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->