<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | View Post')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="create bg-white">
<nav th:replace="fragments/navbar :: navbar" />

                <div class="text-center">
                    <h1 id="createPost-header" style="color: #576541" class="p-5">Fill out the form to schedule your event!</h1>
                </div>

<div class="wrapper create-wrapper fadeInDown">
    <div id="create-formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first p-3">
            <img src="/img/SocialCode-01.png" width="40%"/>
        </div>

        <!-- Login Form -->

        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <div class="card-body">
                <label style="font-family: 'Open Sans'"  for="title">Title:</label>
                <div>
                    <input type="text" name="title" cols="40" id="title" style="max-width: 100%; font-family: 'Open Sans'" th:field="*{title}">
                </div>
                <div class="mt-2 mr-2" style="font-family: 'Open Sans'" >
                    <label class="category-title" for="category-field" style="font-family: 'Open Sans'">Category:</label>
                    <select name="category" id="category-field" style="font-family: 'Open Sans'" >
                        <option value="1">Javascript</option>
                        <option value="2">Java</option>
                        <option value="3">Bootstrap</option>
                        <option value="4">CSS</option>
                        <option value="5">HTML</option>
                        <option value="6">MySQL</option>
                        <option value="7">JQuery</option>
                        <option value="8">Spring</option>
                        <option value="9">UX Design</option>
                        <option value="10">Front-end</option>
                        <option value="11">Back-end</option>
                        <option value="13">Github</option>
                        <option value="14">Code Review</option>
                        <option value="15">Tech Life</option>
                        <option value="16">Other</option>
                    </select>
                </div>
                <label class="pt-2" for="body" style="font-family: 'Open Sans'" >Body:</label>
                <div>
                    <textarea type="text" name="body" id="body" rows="5" cols="40" style="max-width: 100%; font-family: 'Open Sans'" th:field="*{body}">Body</textarea>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="text-center">
                                    <label for="start_date_time" class="d-block"  style="font-family: 'Open Sans'" >Start Date:</label>
                                    <input id="start_date_time" style="font-family: 'Open Sans'"  type="date" name="start_date_time" th:field="*{start_date_time}">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div>
                                    <label style="font-family: 'Open Sans'"  for="end_date_time" class="d-block" >End Date:</label>
                                    <input style="font-family: 'Open Sans'"  id="end_date_time" type="date" name="end_date_time" th:field="*{end_date_time}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col-sm-12 m-1">
                                <label style="font-family: 'Open Sans'"  for="start_time" class="d-block">Start Time:</label>
                                <input style="font-family: 'Open Sans'"  id="start_time" type="time" step='1' min="00:00" max="24:00:00" name="eventTime" th:field="*{start_time}">
                            </div>

                            <div class="col-sm-12 m-1">
                                <label style="font-family: 'Open Sans'"  for="end_time"   class="d-block">End Time:</label>
                                <input style="font-family: 'Open Sans'"  id="end_time" type="time" step='1' min="00:00" max="24:00:00" name="eventTime" th:field="*{end_time}">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="mb-4">
                <input class="btn btn-success"  type="submit"/>
            </div>
        </form>


    </div>
</div>










<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>