<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Social Code || Edit')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body class="edit">

<nav th:replace="fragments/navbar :: navbar"></nav>

            <div class="container edit-container text-center">
                <div class="card edit-card">
                    <div class="card-header">
                        <h4>Edit Post:</h4>
                    </div>
<!--                    <form th:action="${'/posts/edit'}" th:method="POST" th:object="${post}">-->
<!--                        <div class="card-body">-->
<!--                            <div>-->
<!--                                <label for="title">Title</label>-->
<!--                                <input type="text" name="title" id="title">-->
<!--                            &lt;!&ndash;        <input type="text" name="title" id="title" th:field="*{title}">&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <input name="id" type="hidden">-->
<!--                            &lt;!&ndash;        <input name="id" type="hidden" th:value="${post.id}" th:field="*{id}">&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <label for="body">Body</label>-->
<!--                            <input type="text" name="body" id="body">-->
<!--                    &lt;!&ndash;        <input type="text" name="body" id="body" th:field="*{body}">&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button class="btn btn-success">Update</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
                    <form th:action="@{/posts/{id}/edit(id=${id})}" th:method="POST" th:object="${post}">
                        <div class="card-body">
                            <div>
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title">
                                <!--        <input type="text" name="title" id="title" th:field="*{title}">-->
                            </div>
                            <div>
                                <input name="id" type="hidden">
                                <!--        <input name="id" type="hidden" th:value="${post.id}" th:field="*{id}">-->
                            </div>
                            <div>
                                <label for="body">Body</label>
                                <input type="text" name="body" id="body">
                                <!--        <input type="text" name="body" id="body" th:field="*{body}">-->
                            </div>
                            <div>
                                <button class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>






</body>
</html>