<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapbox Maps API</title>

    <!--    MAPBOX API-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css' rel='stylesheet' />
    <style>

        div#map {
            margin: 0 auto;
            margin-top: 3em;
        }

        h2 {
            text-align: center;
            font-family: sans-serif;
            border: 1px solid #000;
            background: #000;
            color: #fff;
        }

        #select-container #zoom-level {
            width: 90px;
            margin-left: 30px;

        }

        #select-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        label {
            margin-bottom: 10px;
            font-size: 2em;
        }

    </style>

</head>
<body>

<div class="social">
    <img class="social-img" src="/img/social.png"/>
</div>

<h2>Social Code Community</h2>

<div id='map' style='width: 800px; height: 600px;'></div>

<script src="js/keys.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="js/mapbox-geocoder-utils.js"></script>
<script src="js/mapbox_map.js"></script>
<!--<script>-->
<!--    "use strict";-->
<!--    (function(){-->
<!--        $(document).ready(function() {-->

<!--            mapboxgl.accessToken = mapboxToken;-->

<!--            let locations = [-->

<!--            ];-->


<!--            let zoomLevel = document.getElementById('submit');-->
<!--            let select = document.getElementById('zoom-level');-->
<!--            let address = document.getElementById('address');-->
<!--            console.log(address);-->


<!--            // select.addEventListener('change', getZoom);-->

<!--            let option = {-->
<!--                maxWidth: '300px',-->
<!--                color: 'red',-->
<!--                draggable: false,-->
<!--                anchor: 'bottom-left'-->

<!--            };-->

<!--            let map = new mapboxgl.Map({-->
<!--                container: 'map',-->
<!--                style: 'mapbox://styles/mapbox/streets-v9',-->
<!--                zoom: 8,-->
<!--                center: [-97.14, 32.77]-->
<!--            });-->

<!--            function getZoom() {-->
<!--                map.setZoom(select.value);-->
<!--                map.setCenter([-97.14, 32.77]);-->
<!--            }-->

<!--            function locationExecution () {-->
<!--                $.ajax({-->
<!--                    "url": "/users.json",-->
<!--                    "type": "GET"-->
<!--                }).done(function (data) {-->
<!--                    console.log(data);-->
<!--                    data.forEach( (data) => {-->
<!--                        locations.push({city: data.city});-->
<!--                    });-->
<!--                    addCity();-->
<!--                }).fail(function (error) {-->
<!--                    console.error(error);-->
<!--                });-->
<!--            }-->
<!--            locationExecution();-->


<!--            function addCity () {-->
<!--                locations.forEach( (location, index) => {-->
<!--                    geocode(location.city, mapboxToken).then( result => {-->
<!--                        console.log(result);-->

<!--                        //    add additional code for geocode-->
<!--                        geolocation(result, location);-->
<!--                    });-->
<!--                });-->
<!--            }-->


<!--            // let prevLoc = '';-->
<!--            function geolocation(result, location) {-->


<!--                let popup = new mapboxgl.Popup()-->
<!--                    .setHTML(`<h3>${location.city}</h3>`);-->

<!--                new mapboxgl.Marker(option)-->
<!--                    .setLngLat(result)-->
<!--                    .setPopup(popup)-->
<!--                    .addTo(map)-->

<!--            }-->

<!--            // addCity();-->
<!--            console.log(locations);-->

<!--        });-->
<!--    })();-->
<!--</script>-->

</body>
</html>
