<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:if="${post == null}">
    Post not found!
</div>
<div th:if="${post}">
    <h1>Title: <span th:text="${post.title}"></span></h1>
    <h3>Body: <span th:text="${post.body}"></span></h3>
</div>
<form th:action="${'/posts/' + post.id + '/edit'}">
    <button class="btn btn-warning">EDIT</button>
</form>

</body>
</html>