<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${post}">
    <h1>Title: <span th:text="${post.title}"></span></h1>
    <h3>Body: <span th:text="${post.body}"></span></h3>
    <div th:each="category: ${post.categories}">
        <h2 th:text="${category.name}"></h2>
    </div>
</div>
<form th:action="${'/posts/' + post.id + '/edit'}">
    <button class="btn btn-warning">EDIT</button>
</form>

<div class="container">
    <form th:action="@{/comments/create}" th:method="post" th:object="${comment}">
        comment body:
        <input th:field="*{body}" />
        <br />
        <input type="submit" />
    </form>
</div>

<div th:each="comment: ${comments}">
    <h2>Comment: <span th:text="${comment.body}"></span> Created by: <span th:text="${comment.user.firstName}"></span></h2>
</div>

</body>
</html>