<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <th:block sec:authorize="!isAuthenticated()">
    <a class="navbar-brand " href="#">
        <a class="navbar-brand d-none d-md-block col-5" href="/posts"><img class="nav-logo" src="/img/SocialCode-01.png"/></a>
    </a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <a class="navbar-brand " href="#">
            <a class="navbar-brand d-none d-md-block col-5" href="/posts"><img class="nav-logo" src="/img/SocialCode-01.png"/></a>
        </a>
    </th:block>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse right-nav justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li id="about-us-btn" class="nav-item">
                <form th:action="@{/about}" th:method="get">
                    <button id="nav-about" class="btn-link btn" style="color: #7ea552">About Us</button>
                </form>
            </li>
            <li id="profile-btn" class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/users/profile}" th:method="get">
                    <button id="nav-about" class="btn-link btn" style="color: #7ea552">Profile</button>
                </form>
            </li>
            <li id="nav-login-btn" class="nav-item" sec:authorize="!isAuthenticated()">
                <form th:action="@{/login}" th:method="get">
                    <button id="nav-login" class="btn-link btn"  style="color: #7ea552">Login</button>
                </form>
            </li>

<!--            <th:block sec:authorize="isAuthenticated()">-->
<!--                <li id="logout-btn" class="nav-item">-->
<!--                    <form th:action="@{/logout}" th:method="POST">-->
<!--                        <button id="logout" class="btn-link btn"  style="color: #7ea552">Logout</button>-->
<!--                    </form>-->
<!--                </li>-->
<!--            </th:block>-->
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a href="#" id="nav-community" class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  style="color: #7ea552">Community</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"  style="color: #576541" th:href="@{/posts}">View events</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color: #576541"  th:href="@{/users/view-all}">View all users</a>
                        <div class="dropdown-divider" ></div>
                        <a class="dropdown-item" style="color: #576541"  th:href="@{/posts/create}">Create an event</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color: #576541"  th:href="@{/mapbox}">View community map</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color: #576541"  th:href="@{/calendar}">View calendar</a>
                    </div>
                </li>
            </th:block>
        </ul>
        <ul class="d-flex p-1" style="list-style: none">
        <th:block sec:authorize="isAuthenticated()">
            <form class="searchBox" action="/search"> <!-- make sure the search bar has a form that maps to  -->
                <input id="search-box" type="text" name="term" placeholder="Search posts" style="color: #576541">
                <button id="search-icon" type="submit"><i class="fas fa-search" style=" color: #7ea552;"></i></button>
            </form>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li id="navLogout-btn" class="nav-item">
                <form th:action="@{/logout}" th:method="POST">
                    <button id="logout" class="btn-link btn"  style="color: #7ea552">Logout</button>
                </form>
            </li>
        </th:block>
        </ul>
    </div>
</nav>


</body>
</html>