<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

</head>
<body>

<!--NEW NAVBAR-->
<nav class="navbar navbar-expand navbar-light bg-light"  th:fragment="navbar">
    <a class="navbar-brand" href="/posts"><img class="logo" src="/img/codeup-logo.png"/></a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li id="search" class="nav-item ">
                <input class="d-none d-md-block" id="search-box" type="text" placeholder="Search" style="color: dimgrey">
                <i class="fas fa-search d-none d-md-block"></i>
            </li>
            <li id="login-btn" class="nav-item">
                <form th:action="@{/login}" th:method="get">
                    <button id="login" class="btn-link btn" style="color: dimgrey;">Login</button>
                </form>
            </li>
<!--            <button type="button" th:onclick="index()">Show Alert</button>-->
<!--            <form th:action="@{/login}" th:method="get">-->
<!--            <div class="dropdown">-->

<!--                <button class="btn btn-primary dropdown-toggle"  id="dropdown" type="button" data-toggle="dropdown">Dropdown Example-->
<!--                    <span class="caret"></span></button>-->

<!--                <ul class="dropdown-menu">-->
<!--                    <li><a href="#">HTML</a></li>-->
<!--                    <li class="divider"></li>-->
<!--                    <li><a href="#">CSS</a></li>-->
<!--                    <li class="divider"></li>-->
<!--                    <li><a href="#">JavaScript</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            </form>-->

            <th:block sec:authorize="isAuthenticated()">
                <li id="logout-btn" class="nav-item">
                    <form th:action="@{/logout}" th:method="POST">
                        <button id="logout" class="btn-link btn">Logout</button>
                    </form>
                </li>
            </th:block>

<!--            <li id="register-btn" class="nav-item">-->
<!--                <form th:action="@{/sign-up}" th:method="get">-->
<!--                    <button id="register" class="btn-link btn" style="color: dimgrey">Register</button>-->
<!--                </form>-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
            <th:block sec:authorize="isAuthenticated()">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
            <li class="nav-item dropdown d-lg-block">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Community
                </a>
                <ul class="nav-item" aria-labelledby="navbarDropdown">
<!--                   ^ class="dropdown-menu dropdown-content" -->
                    <li><a class="dropdown-item" th:href="@{/posts}">View events</a></li>
                    <li><a class="dropdown-item" th:href="@{/users/view-all}">View all users</a> </li>
<!--                    <div class="dropdown-divider"></div>-->
                    <li><a class="dropdown-item" th:href="@{/users/profile}">Your profile</a></li>
                    <li><a class="dropdown-item" th:href="@{/posts/create}">Create an event</a></li>
                </ul>
            </li>
                </ul>
            </div>

            </th:block>
        </ul>
    </div>

        </ul>
    </div>
</nav>

</body>
</html>