<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

</head>
<body>


    <!--NEW NAVBAR-->
    <nav class="navbar navbar-expand navbar-light bg-light"  th:fragment="navbar">
        <a class="navbar-brand d-sm-none d-md-block " href="/posts"><img class="logo" src="/img/codeup-logo.png"/></a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li id="search" class="nav-item ">
                    <input class="d-none d-md-block" id="search-box" type="text" placeholder="Search" style="color: dimgrey">
                    <i class="fas fa-search d-none d-md-block"></i>
                </li>
                <li id="login-btn" class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/login}" th:method="get">
                        <button id="login" class="btn-link btn" style="color: dimgrey;">Login</button>
                    </form>
                </li>


                <th:block sec:authorize="isAuthenticated()">
                    <li id="logout-btn" class="nav-item">
                        <form th:action="@{/logout}" th:method="POST">
                            <button id="logout" class="btn-link btn" style="color: dimgrey">Logout</button>
                        </form>
                    </li>
                </th:block>
                <li id="register-btn" class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/sign-up}" th:method="get">
                        <button id="register" class="btn-link btn" style="color: dimgrey">Register</button>
                    </form>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: dimgrey">Community</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" th:href="@{/posts}">View events</a>
                                            <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/users/view-all}">View all users</a>
                                            <div class="dropdown-divider"></div>
                                       <a class="dropdown-item" th:href="@{/users/profile}">Your profile</a>
                                            <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/posts/create}">Create an event</a>
                                    </div>
                            </li>
                </th:block>
            </ul>
        </div>
    </nav>

</body>
</html>