<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Edit Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="edit-profile">
<nav th:replace="fragments/navbar :: navbar"/>


<div class="wrapper edit-profile-wrapper fadeInDown">
    <div id="edit-profile-formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first p-3">
            <img src="/img/codeup-logo.png" width="30%"/>
        </div>

        <!-- Login Form -->
        <h5>Edit your profile:</h5>
        <form th:action="@{/users/{id}/edit(id=${id})}" th:method="POST" th:object="${user}">
            <div class="card-body">
                <label for="upload">Picture</label>
                <input id="picture" name="picture" value="replaceme" th:field="*{picture}" type="hidden">
                <button type="button" id="upload" name="upload">Upload an image</button>

                <div>
                    <label for="edit-prof-firstName">First Name</label>
                    <input id="edit-prof-firstName" th:field="*{firstName}"/>
                    <br>
                    <label for="edit-prof-lastName">Last Name</label>
                    <input id="edit-prof-lastName" th:field="*{lastName}"/>
                    <br>
                    <label for="edit-prof-email">Email</label>
                    <input id="edit-prof-email" th:field="*{username}"/>
                    <br>

                    <label for="edit-prof-city">City</label>
                    <input id="edit-prof-city" th:field="*{city}"/>
                </div>
                <div>

                    <!--         anchor-->
                    <label for="gitHub">GitHub URL</label>
                    <input id="gitHub" th:field="*{gitHub}"/>
                    <br>
                    <!--        anchor-->
                    <label for="linkedIn">LinkedIn URL</label>
                    <input id="linkedIn" th:field="*{linkedIn}"/>
                    <br>
                    <label for="bio">Bio</label>
                    <input id="bio" th:field="*{bio}"/>
                </div>

                <form th:action="${'/users/' + user.id + '/delete'}" th:method="POST">

                    <button class="btn btn-success" id="edit-profile-btn" type="submit">Submit</button>
                </form>
            </div>
        </form>


    </div>
</div>




</body>
</html>