<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Edit Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="edit-profile">
<nav th:replace="fragments/navbar :: navbar"/>



<div class="wrapper edit-profile-wrapper fadeInDown">
    <h1 class="text-center mb-3" style="font-family: 'Open Sans'; color: white" >Fill out the form to edit your profile:</h1>
    <div id="edit-profile-formContent">
        <div class="fadeIn first p-3">
            <img src="/img/SocialCode-01.png" width="30%"/>
        </div>

        <form th:action="@{/users/{id}/edit(id=${id})}" th:method="POST" th:object="${user}">
            <div class="card-body">
                <input id="picture" name="picture" value="replaceme" th:field="*{picture}" type="hidden">
                <button class="mb-4" type="button" id="upload" name="upload">Upload an image</button>

                <div>
                    <label class="edit-prof-label" for="edit-prof-firstName">First Name</label>
                    <input class="edit-prof-field"  style="font-family: 'Open Sans'"  id="edit-prof-firstName" maxlength="10" th:field="*{firstName}"/>
                    <br>
                    <label class="edit-prof-label" for="edit-prof-lastName">Last Name</label>
                    <input class="edit-prof-field"  style="font-family: 'Open Sans'"  id="edit-prof-lastName"  maxlength="10" th:field="*{lastName}"/>
                    <br>
                    <label class="edit-prof-label"  for="edit-prof-email">Email</label>
                    <input class="edit-prof-field"  style="font-family: 'Open Sans'"  id="edit-prof-email" maxlength="10" th:field="*{username}"/>
                    <br>

                    <label class="edit-prof-label" for="edit-prof-city">City</label>
                    <input class="edit-prof-field"  style="font-family: 'Open Sans'"  id="edit-prof-city" maxlength="10" th:field="*{city}"/>
                    <br>
                    <!--         anchor-->
                    <label class="edit-prof-label"  for="edit-prof-gitHub">GitHub</label>
                    <input class="edit-prof-field"  style="font-family: 'Open Sans'"  id="edit-prof-gitHub" placeholder="url link"    maxlength="50"  th:field="*{gitHub}"/>
                    <br>
                    <!--        anchor-->
                    <label class="edit-prof-label"  for="edit-prof-linkedIn">LinkedIn</label>
                    <input class="edit-prof-field"  style="font-family: 'Open Sans'"  id="edit-prof-linkedIn" placeholder="url link"  maxlength="50" th:field="*{linkedIn}"/>
                    <br>
                    <label class="mt-2" for="bio" style="font-family: 'Open Sans'; font-size: 18px" >Tell us about yourself</label><br>
                    <textarea style="font-family: 'Open Sans'"   id="bio" type="text" rows="5" cols="35" th:field="*{bio}" name="edit-prof-bio" ></textarea>
                </div>

                <form th:action="${'/users/' + user.id + '/delete'}" th:method="POST">

                    <button class="btn btn-success mt-2"  id="edit-profile-btn" type="submit">Submit</button>
                </form>
            </div>
        </form>


    </div>
</div>




</body>
</html>