<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>You can see me and im ready for code!!!!</h1>

<h3>Here are the categories for the ad:</h3>
<ul>
    <li th:each="follower : ${user.followers}" th:text="${followers}" />
</ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        "use strict";
        let count = 0;
        $(document).ready(function () {
            $("#follow_me").click(function() {
               count++;
               $('#clicks').innerText.parseJSON(count);
            })
        })();
    </script>

</body>
</html>