<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Login')">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body class="login">
<nav th:replace="fragments/navbar :: navbar" />

        <div class="container login-container">
            <div class="card">
                <form th:action="@{/login}" method="post">
                    <div class="card-header text-center">
                        <h1>Please Log In</h1>
                    </div>
                    <div class="card-body login-card-body text-center">
                        <label for="username">Email</label>
                        <input id="username" name="username" type="email" />
                        <br>
                        <label for="password">Password</label>
                        <input class="login-password" id="password" name="password" type="password" />
                        <br>
                        <input class="btn btn-success mt-2" type="submit" value="Log In"/>
                    </div>
                </form>
            </div>
        </div>




<!--<div th:if="${param.error}">-->
<!--    Invalid email and password.-->
<!--    <br>-->
<!--    <div>Try entering it again, or you can register here:</div>-->
<!--    <form th:action="@{/sign-up}" th:method="get">-->
<!--        <button class="btn-link btn" style="margin-top: 8px">Register</button>-->
<!--    </form>-->
<!--</div>-->

<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--    <br>-->
<!--    <div>Would you like to log in again?</div>-->
<!--</div>-->



</body>
</html>