<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Sign-up')">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body class="sign-up">
    <nav th:replace="fragments/navbar :: navbar" />
    <div class="container sign-up-container">
        <div class="card sign-up-card text-center">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <div class="card-header text-center">
                    <h1>Create An Account</h1>
                </div>
                <div class="card-body login-card-body text-center">
                    <label class="username" for="username">Email</label>
                    <input id="username" name="username" th:class="validate" th:field="*{username}" />
                        <p id="check_username" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    <br>
                    <label class="username" for="password">Password</label>
                    <input id="password" name="password" type="password" th:class="validate" th:field="*{password}" />
                     <br>
                    <label for="passwordToConfirm">Re-Enter Password</label>
                    <input id="passwordToConfirm" name="passwordToConfirm" type="password" />
                        <p id="check_password" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    <br>
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="firstName" th:field="*{firstName}" />
                    <br>
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" th:field="*{lastName}" />
                    <br>
                    <label for="city">City</label>
                    <input id="city" name="city" th:field="*{city}" />
                    <br>
<!--                    th:if="${!#fields.hasErrors('username')}" && th:if="${!#fields.hasErrors('password')}"-->
                    <form th:class="alert" th:action="${'/users/' + user.id + '/delete'}" th:method="POST">
                    <input id="register-alert" th:onclick="this.parentElement.style.display=='none'" class="btn register-btn btn-success alert" type="submit" value="Register"/>
                    </form>
                    <br>
                    <form class="existing-login" th:action="@{/login}" th:method="post">
                        <span>Existing account?</span>
                        <a href="/login">Log In</a>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        // "use strict";
        // $(document).ready(function () {
        //     $("#register-alert").click(function() {
        //         confirm(`
        //         You have successfully registered to our page!
        //         Happy Coding!
        //         `);
        //     })
        // })();

        // "use strict";
        // $(document).ready(function () {
        //     if("${#fields.hasErrors('username')}" || "${#fields.hasErrors('password')}") {
        //     $("#register-alert").click(function() {
        //         confirm(`
        //         You have an error, please check the requirement
        //         `);
        //     }) }
        //     else(
        //     $("#register-alert").click(function() {
        //         confirm(`
        //         You have successfully registered to our page!
        //         Happy Coding!
        //         `);
        //     })
        //     )
        // })();

        // "use strict";
        // $(document).ready(function () {
        //     // if thisID OR thatId has an error, do this. ELSE Saying Congrats.
        //     if(document.getElementById("check_username") || document.getElementById("check_password")) {
        //         $("#register-alert").click(function() {
        //             confirm(`
        //         You have an error, please check the requirement
        //         `);
        //         }) }
        //     else(
        //         $("#register-alert").click(function() {
        //             confirm(`
        //         You have successfully registered to our page!
        //         Happy Coding!
        //         `);
        //         })
        //     )
        // })();
    </script>
</body>
</html>