<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

    <section class="bio-container">
        <div class="card mb-3">
            <div class="card-header bg-success" style="height: 70px"> </div>
            <div class="row bio-row no-gutters" style="height: 400px">
                <div class="wrapper col-md-4 ">
                    <img class="image--cover" src="/img/Profile-Placeholder.png" width="100%"/>
                </div>
                <div class="col-md-8">
                    <div class="bio-card-body">
                        <h3 id="first" th:text="${user.firstName}"></h3>
    <!--                <h3 id="last" th:text="${user.lastName}"></h3>-->

                        <h6 th:text="${user.city}">City</h6>
                        <div class="connect">
                            <h6 id="email" th:text="${user.username}">Email</h6>
    <!--                        <h6 id="github" class="card-text"th:text="${user.gitHub}">GitHub</h6>-->

                            <a id="github" class="card-text" th:text="${user.gitHub}" th:href="@{${user.gitHub}}">GitHub</a>
                            <a id="linkedin" class="card-text" th:text="${user.linkedIn}" th:href="@{${user.linkedIn}}">LinkedIn</a>
    <!--                        <h6 id="linkedin" class="card-text" th:text="${user.linkedIn}">LinkedIn</h6>-->
                            <h6 id="profile-bio" class="card-text" th:text="${user.bio}">Bio</h6>
                            <a th:if="${showEditControls}" class="card-text" th:href="@{/users/{id}/edit(id=${user.id}) }"><h1>EDIT</h1></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--FOLLOWS/POSTS/FOLLOWING-->
        <section class="container followers text-center">
            <div class="row text-center">
                <div class="col-12 d-flex justify-content-center align-items-center text-center">
                        <div id="followersId" th:text="${user.followers.size()}" style="font-size: 30px"></div>
                        <span class="d-flex align-items-end" style="font-size: 15px">Followers</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center text-center">
                        <form th:action="@{'/user/' + ${user.id} + '/follow'}" th:method="POST">
                            <input  type="submit" id="follow-me" class="btn btn-success" style="color: white" value="Follow"></input>
                        </form>
                </div>
            </div>

        </section>


<hr style="width: 50%">


    <section class="container project-section">
        <div class="row project-wrapper text-center">
            <div class="text-center">
                <div class="button-container text-center">
                    <img src="/img/9.png" class="project-cover"/>
                    <a class="text-center" href="#">+</a>
                </div>
                <img src="/img/8.png" class="project-cover"/>
            </div>
            <div class="text-center">
                <img src="/img/13.png" class="project-cover" />
                <img src="/img/7.png" class="project-cover"/>
            </div>
        </div>
    </section>



<hr style="width: 50%">


<section class="container posts" >
    <div class="card" th:each="post: ${userPosts}">
        <img src="/img/11.png" width="100%"/>
        <div class="card-body">
            <h5 class="card-title" th:text="${post.title}">Card title</h5>
            <p class="card-text" th:text="${post.body}">This card has supporting text below as a natural lead-in to additional content.</p>
            <!--            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->

        </div>
    </div>
</section>


<!--function updateEventCount() {-->
<!--    $.get("follower-count", function(fragment) { // get from controller-->
<!--        $("#followerCount").replaceWith(fragment); // update snippet of page-->
<!--    });-->
<!--}-->


<!--</script>-->

<th:block th:replace="fragments/footer :: footer-script"></th:block>

</body>
</html>
