<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

    <section class="bio-container">
        <div class="card bio-card mb-3">
            <div class="card-header" style="background-color: #7ea552; height: 70px"></div>
                <div class="row bio-imgRow no-gutters" style="height: 400px">
                     <div class="wrapper profile-img col-md-4 ">
                         <img id="user-image" class="image--cover user-image-cover" th:src="*{user.picture}" width="100%"/>

                    </div>
                    <div class="col-md-8">
                             <div class="row">
                                <div class="card-body bio-headerBody col-12 col-lg-9">
                                    <div class="connect">
                                    <h3 id="first" th:text="${user.firstName + ' ' + user.lastName}"></h3>
                                        <span><a th:if="${showEditControls}" class="edit-prof-link card-text" th:href="@{/users/{id}/edit(id=${user.id}) }" style="color: #0303a8;">
                             EDIT PROFILE</a></span>
                                    <h6 id="email" th:text="${user.username}">Email</h6>
                                        <a id="github" class="card-text" th:href="@{${user.gitHub}}">
                                            <!--                            th:if="${showGitHub}"-->
                                            <img class="github" src="/img/4.png"/>
                                        </a>
                                        <a id="linkedin" class="card-text" th:href="@{${user.linkedIn}}">
                                            <img class="linkedin" src="/img/5.png"/>
                                        </a>
                                </div>
                                <div class="bioDiv col-12 col-lg-9">
                                    <h6 id="profile-bio" class="card-text" th:text="${user.bio}">Bio</h6>
                                    <!--                                        <a class="view-all-btn" th:href="@{/users/view-all}">-->
                                    <!--                                            <button id="prof-view-users" class="btn btn-success">View all users</button>-->
                                    <!--                                        </a>-->
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--FOLLOWS/POSTS/FOLLOWING-->
        <section class="container followers text-center">
            <div class="row text-center">
                <div class="col-12 followDiv d-flex justify-content-center align-items-center text-center">
                        <div id="followersId" th:text="${user.followers.size()}" style="font-size: 30px"></div>
                        <span class="d-flex followerCount align-items-end" style="font-size: 15px">Followers</span>
                </div>
            </div>
            <div class="row" th:if="${!isUser}">
                <div class="col-12 d-flex justify-content-center align-items-center text-center">
                        <form th:action="@{'/user/' + ${user.id} + '/follow'}" th:method="POST">
                            <input  type="submit" id="follow-me" class="btn btn-success" style="color: white" value="Follow"></input>
                        </form>
                </div>
            </div>
        </section>


<!--<hr style="width: 50%">-->

<!--example for displaying followers-->
<!--        <section class="container project-section">-->

            <section class="row project-wrapper text-center justify-content-center mt-5">
                        <div class="ml-3" th:each="follower : ${user.getFollowers()}">
                            <div class="text-center">
                                <img id="listOfFollowers" th:src="${follower.picture}" alt="followerPic">
                            </div>
                            <div class="text-center">
                                <a th:href="@{'/users/' + ${follower.id}}" th:text="${follower.firstName}"></a>
                            </div>
                        </div>
            </section>


    <hr style="width: 50%">

    <div class="row text-center p-3 pb-5">
        <div class="col-12">
            <h3>Your posts</h3>
        </div>
    </div>
    <section class="container posts-container text-center d-flex justify-content-center">
        <div class="row prof-post-row d-flex justify-content-center">
                <div class="card col-12 col-md-4 prof-post-card text-center" th:each="post: ${userPosts}">
                    <img src="/img/11.png" width="100%"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}">Card title</h5>
                        <p class="card-text" th:text="${post.body}">This card has supporting text below as a natural lead-in to
                            additional content.</p>
                        <!--            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                       <a th:href="@{'/posts/' + ${post.id}}" class="btn btn-sm btn-success"><em>View Post</em></a> <br> 
                      <div th:if="${#authentication.principal.id == post.user.id}">
                        <form th:action="${'/posts/' + post.id + '/edit'}">
                            <button class="btn btn-warning">EDIT</button>
                        </form>
                      </div>
                    </div>
               </div>
            </div>
        </div>
    </section>

<th:block th:replace="fragments/footer :: footer-script"></th:block>
</body>
</html>

