<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | View User')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar" />
<div class="container">
    <div th:if="${user == null}">Post not found.</div>
    <div th:if="${user}">
        <div th:image="${user.picture}"/>
        <h3 th:text="${user.firstName}">Name</h3>
        <h3 th:text="${user.lastName}"></h3>
        <br>
        <h6 th:text="${user.email}">Email</h6>
        <h6 th:text="${user.city}">City</h6>
        <br>
        <h6 th:text="${user.gitHub}"></h6>
        <h6 th:text="${user.linkedIn}"></h6>
        <h5 th:text="${user.bio}"></h5>


    </div>
<!--bio (including languages/proficienes) linkedin, github, -->






<!--&lt;!&ndash;button return to all users &ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->