<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Users')">
        <meta charset="UTF-8">
        <title>Title</title>
</head>
<body class="view-all">
    <nav th:replace="fragments/navbar :: navbar"></nav>



    <section class="header-border d-flex justify-content-center align-items-center" style="background-color: #576541; ">
        <div class="header-fill d-flex justify-content-center align-items-center" style="background-color: #876A3B;">
            <div class="social">
                <img class="social-img" src="/img/Social-lg.png"/>
            </div>
        </div>
    </section>
    <section class="container-fluid justify-content-end text center">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-6 col-md-3 mt-1">
                <form action="/users/search"> <!-- make sure the search bar has a form that maps to  -->
                    <input id="search-box" type="text" name="term" placeholder="Search Users" style="color: #576541">
                    <button id="searchUsers-icon" type="submit"><i class="fas fa-search" style=" color: #7ea552;"></i></button>
                </form>
            </div>
        </div>
    </section>


    <div class="container-fluid text-center">
            <div class="row justify-content-center">
                    <div th:each="user : ${viewAll}">
                        <div class="card view-users-card">
                            <div class="card-header view-users-card-header">
                                <img id="all-image" class="image--cover all-profile-image" th:src="*{user.picture}" width="100%"/>
                            </div>
                            <div class="card-body text-center mt-5">
                                <h5 id="first" th:text="${user.firstName + ' ' + user.lastName}"></h5>
                                <h6 class="card-text text-center mt-5" style="font-family: 'Open Sans'; font-size: 15px; font-weight: lighter" th:text="${user.bio}">Bio</h6>
                            </div>
                                <div class="card-footer text-center">
                                    <form th:action="${'/users/' + user.id }" th:method="GET">
                                        <button class="btn view-all-users-btn btn-success m-1" style="background-color: #ffde59; color: black; border: gray .2px solid; border-radius: 5px; margin-bottom: 3px;  box-shadow: rgba(9, 0, 0, 0.28) 10px 10px 10px;" >View Profile</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>


    <th:block th:replace="fragments/footer :: footer-script"></th:block>
</body>
</html>