<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Users')">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <a th:href="@{/posts}"><button class="btn btn-success">View events</button></a>
        <div th:each="user : ${viewAll}">
            <h1>Name: <span th:text="${user.getUsername()}"></span></h1>
            <h1>Picture: <span th:text="${user.getPicture()}"></span></h1>

    <!--        <h3>Languages: <span th:text="${user.}"></span></h3>-->
    <!--        <h3>Skill Level: <span th:text="${user.}"></span></h3>-->

            <h4>Location: <span th:text="${user.getCity()}"></span></h4>
            <form th:action="${'/users/' + user.id }" th:method="GET">
                <button>View Profile</button>
            </form>

        </div>
    </body>
</html>