<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('SocialCode | Users')">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <form action="/users/search"> <!-- make sure the search bar has a form that maps to  -->
        <input class="d-none d-md-block" id="search-box" type="text" name="term" placeholder="Search" style="color: dimgrey">
        <button type="submit"><i class="fas fa-search d-none d-md-block"></i></button>
    </form>
    <a th:href="@{/posts}"><button class="btn btn-success">View events</button></a>
        <div th:each="user : ${viewAll}">
            <h1>Name: <span th:text="${user.getUsername()}"></span></h1>
            <img class="image--cover" th:src="*{user.picture}" width="100%"/>
            <h4>Location: <span th:text="${user.getCity()}"></span></h4>
            <form th:action="${'/users/' + user.id }" th:method="GET">
                <button>View Profile</button>
            </form>

        </div>
    </body>
</html>