<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Welcome')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Home</title>

</head>

<body class="welcome">
<nav th:replace="fragments/navbar :: navbar"></nav>



        <h1 id="welcome-header" class="text-center" style="color: #576541;">Welcome to Social Code, <h1 th:text="${user.lastName}"></h1>!</h1>
        <h3 class="text-center" style="color: #576541;">Get going in as little as <span style="color: #ffde59; font-size: 50px">1 </span> - <span style="color: #ffde59; font-size: 50px">2</span> - <span style="color: #ffde59; font-size: 50px">3</span>!</h3>

        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                    <div class="card-deck">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img" src="/img/12.png" width="100%"/>
                                <h3 class="card-title text-center mt-3" style="color: #ffde59; font-size: 60px; font-weight: bolder">1</h3>
                                <div class="card-body">
                                    <h4 class="card-text text-center">Edit your profile.</h4>
        
                                    <form th:action="@{/users/profile}" th:method="get">
                                <input class="btn btn-success" type="submit" value="Go to profile">
                            </form>
                                </div>
                              
                            </div>

                            <div class="card mt-5" style="width: 18rem; height: 21rem">
                                <img class="card-img"  src="/img/9.png" />
                                <h3 class="card-title text-center mt-3" style="color: #ffde59; font-size: 60px; font-weight: bolder">2</h3>
                                <div class="card-body">
                                    <h4 class="card-text text-center">Create a community post.</h4>
                                </div>
                               <form th:action="@{/posts/create}" th:method="get">
                                <input class="btn btn-success" type="submit" value="Create a post">
                            </form>
                            </div>

                            <div class="card" style="width: 18rem;">
                                <img class="card-img"  src="/img/11.png" width="100%"/>
                                <h3 class="card-title text-center mt-3" style="color: #ffde59; font-size: 60px; font-weight: bolder">3</h3>
                                <div class="card-body text-center">
                                    <h4 class="card-text">Connect</h4>
                                </div>
                              
                                <form th:action="@{/posts}" th:method="get">
                            <input class="btn btn-success" type="submit" value="View current events">
                        </form>
                                <a th:href="@{/users/view-all}"><button class="btn btn-success">View all users</button></a>
                            </div>

                    </div>
            </div>
        </div>
<!--             <form class="text-center" action="">
                <span><a class="text-center" href="/user" style="color: #576541; font-size: 30px">Let's Get Started!</a></span>
            </form> -->

</body>
</html>