<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Welcome')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Home</title>

</head>

<body class="welcome">
<nav th:replace="fragments/navbar :: navbar"></nav>


 <div class="container">

        <h1 id="welcome-header" class="text-center" style="color: #576541;">Welcome to Social Code!</h1>

     <h3 class="text-center get-going" style="color: #576541;">Get going in as little as <br> <span id="1" style="color: #ffde59;">1 </span > - <span id="2" style="color: #ffde59;">2</span> - <span id="3" style="color: #ffde59; ">3</span>!</h3>


     <div class="row d-flex justify-content-center align-items-center">
                    <div class="card-deck welcome-card-deck">
                            <div class="card mt-5" style="width: 18rem;">
                                <img class="welcome-card-img" src="/img/12.png" width="100%"/>
                                <h3 class="card-title text-center mt-3" style="color: #ffde59; font-size: 60px; font-weight: bolder">1</h3>
                                <div class="card-body wel-card-body">
                                    <h4 class="card-text text-center" id="wel-create">Create your profile.</h4>
                                    <form class="text-center pt-4" th:action="@{/users/profile}" th:method="get">
                                <input class="btn btn-success" type="submit" value="Go to profile">
                            </form>
                                </div>
                              
                            </div>

                            <div class="card middle-card mt-5 " style="width: 18rem; height: 25rem ">
                                <img class="welcome-card-img"  src="/img/9.png" width="100%" />
                                <h3 class="card-title text-center mt-3" style="color: #ffde59; font-size: 60px; font-weight: bolder">2</h3>
                                <div class="card-body wel-card-body">
                                    <h4 class="card-text text-center">Create a community post.</h4>
                                </div>
                               <form class="text-center pb-4" th:action="@{/posts/create}" th:method="get">
                                 <input class="btn btn-success" type="submit" value="Create a post">
                                </form>
                            </div>

                            <div class="card mt-5 text-center" style="width: 18rem;">
                                <img class="welcome-card-img"  src="/img/11.png" width="100%"/>
                                <h3 class="card-title text-center mt-3" style="color: #ffde59; font-size: 60px; font-weight: bolder">3</h3>
                                <div class="card-body wel-card-body text-center">
                                    <h4 class="card-text">Connect</h4>
                                </div>
                                <form class="text-center" th:action="@{/posts}" th:method="get">
                                     <input class="btn btn-success" type="submit" value="View events">
                                 </form>
                                <div class="pb-4">
                                    <a th:href="@{/users/view-all}"><button class="btn btn-success mt-2">View users</button></a>
                                </div>
                            </div>
                    </div>
     </div>
 </div>

<th:block th:replace="fragments/footer :: footer-script"></th:block>

</body>
</html>