<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      style="background-image: url('/img/Cody.png'); background-repeat: no-repeat; margin: 0 auto "
>
<head th:include="fragments/head :: head('Error 404')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Error 404 URL Not Found</title>
</head>
<body>
<header><nav th:replace="fragments/navbar :: navbar"></nav></header>
<h1 style="color: darkolivegreen; text-align: center">Sorry, we couldn't find the page you were looking for</h1>git
<h2 style="color: #28a745; text-align: center">Our SocialCoders are working HARD on it</h2>
<a style="color: dodgerblue; text-align: center" href="/">Go back to Home page</a>
</div>
<!--<h3>Watch a video instead</h3>-->
<!--<iframe-->
<!--        width="520"-->
<!--        height="415"-->
<!--        src=https://www.youtube.com/embed/9As4hvWHiko-->
<!--        frameborder="0"-->
<!--        allowfullscreen="allowfullscreen"-->
<!--&gt;-->
<!--</iframe>-->
<th:block th:replace="fragments/footer :: footer-script"></th:block>
</body>
</html>
