<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Error 500')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Error 500 Internal Server</title>
</head>
<body>
<header><nav th:replace="fragments/navbar :: navbar"></nav></header>
    <h1 class="error-500">Something went wrong!</h1>
    <h2 class="error-500">Our SocialCoders are working HARD on it</h2>
    <h3 class="error-500">
        <a class="error-500" id="e500-anchor" href="/">Go back to Home page</a>
    </h3>
    <img class="error-duck" src="/img/Cody.png"/>
<th:block th:replace="fragments/footer :: footer-script"></th:block>
</body>
</html>
