.aboutUs-email{
    width: 16%;
}



@media screen and (min-width:768px) {
    .aboutUs-email{
        width: 16%;
    }



}

@media screen and (min-width:1200px) {

    .aboutUs-email{
        width: 16%;
    }


}

@media screen and (min-width:2000px) {
    .aboutUs-email{
        width: 16%;
    }



}