body.create, body.edit, body.edit-profile {
    background-color: rgba(136, 160, 99, 0.4);
    font-family: "Poppins", sans-serif;
    height: 50vh;

}

.create-card, .edit-card {
    margin-top: 150px;
}
#createPost-header{
    font-size: 25px;
}

.category-title{
   font-size: 14px;
}
#category-field{
    font-size: 14px;
    margin-left: -2px;
}

.edit-prof-firstName{
    font-size: 13px;
}
#edit-prof-firstName, #edit-prof-lastName {
    margin-right: 32px;

}

.edit-prof-lastName{
    font-size: 13px;
}

.edit-prof-email{
    font-size: 13px;
    margin-right: 11px
}

#edit-prof-email{
    margin-left: -11px;
}

.edit-prof-city{
    font-size: 13px;
    margin-left: 10px;
}

 .edit-prof-github{
     font-size: 12px;
     margin-left: -31px;
 }

    .edit-prof-linkedin{
        font-size: 12px;
        margin-left: -39px;
    }

  #edit-prof-gitHub, #edit-prof-linkedIn{

    margin-bottom: 5px;
    font-size: 13px;
}
#createPost-header{
    font-size: 30px;
}

#bio{
    font-size: 13px;
}

#edit-prof-firstName, #edit-prof-lastName, #edit-prof-email,
#edit-prof-city {
    font-size: 13px;
}


/* STRUCTURE */

.create-wrapper, .edit-profile-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#create-formContent, #edit-profile-formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#end_date_time{
    margin-right: 1.1px;
}
#start_date_time{
    margin-left: 7.1px;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}



/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    body.create, body.edit-profile, body.edit-profile {
        height: 100vh;

    }


    .edit-prof-firstName, .edit-prof-lastName, .edit-prof-email, .edit-prof-city, edit-prof-github, .edit-prof-linkedin {
        font-size: 16px;
        }

    #edit-prof-firstName, #edit-prof-lastName {
        margin-right: -6px;

    }

    .edit-prof-email{
        margin-left: 43px;
    }

    .edit-prof-city {
        margin-left: 57px;
    }


    #edit-prof-linkedIn{
        margin-left: -2px;
        /*margin-bottom: 5px;*/
        font-size: 13px;
    }

    .edit-prof-github, .edit-prof-linkedin {
        font-size: 14px;
    }
    .edit-prof-github{
        margin-left: 10px;
    }

    .edit-prof-linkedin{
        margin-left: 4px;
    }

    #bio{
        font-size: 14px;
    }

    #edit-prof-firstName, #edit-prof-lastName, #edit-prof-email,
    #edit-prof-city {
        font-size: 13px;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

    body.create{
        height: 50vh;

    }

    body.edit-profile, body.edit{
        height: 90vh;
    }

    #bio{
        font-size: 15px;
    }

}

@media screen and (min-width:2200px) {
    body.create{
        height: 50vh;

    }

    body.edit, body.edit-profile {
        height: 70vh;
    }

    #createPost-header{
        font-size: 54px;
    }

    .category-title{
        margin-left: 6px;
    }
    #category-field{
        margin-left: 11px;
    }

    .right-nav{
        margin-left: -62px;
    }



}

