.error-500 {
    opacity: 1;
    text-align: center;
    color: #7ea552;
}

#e500-anchor {
    /*text-align: center;*/
    /*margin-left: 500px;*/
    color: dodgerblue;
}

.error-duck {
    background-image: url("/img/Cody.png");
    background-repeat: no-repeat;
    background-size: auto;
    /*opacity: 0.9;*/
    margin: 0 auto;

    /*mix-blend-mode: multiply;*/
    /*background-size: cover;*/
}