body.community {

}

#masonry{
    column-count: 3;
    column-gap: 10px;
    padding: 80px;
    /*max-width: 960px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

/*#masonry { !* Masonry container *!*/
/*    !*column-count: 4;*!*/
/*    !*column-gap: 1em;*!*/
/*}*/

#masonry1 {
    display: inline-block;
    /*vertical-align: top;*/
    margin: 10px 10px 0px 10px;
}


#masonry2 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry3 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry4 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry5 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry6 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry7 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry8 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}

#masonry9 {
    display: inline-block;
    /*vertical-align: top;*/
    margin-bottom: 10px;
}




/*html {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0px;!important;*/
/*    padding: 0px;!important;*/
/*    overflow-x: hidden;*/
/*}*/

/*body.community {*/
/*    background-image: url("/img/lg-laptop-cork-bg.png");*/
/*    margin: 0px;!important;*/
/*    padding: 0px;!important;*/
/*    !*box-sizing: content-box;*!*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    !*box-sizing: inherit;*!*/
/*}*/



/*.social {*/

/*    margin-left: 100px ;*/
/*    margin-top: 15px;*/
/*}*/

.header-border {
    height: 250px
}
.header-fill{
    width: 300px;
    height: 180px
}

.social-img {
    width: 100%;
}

.read{
    color: white;
}

.edit{
    color: white;
}

.card-img-top {
    box-shadow: black -1px 10px 29px -3px;
}


/*maybe for images? have 2 or more sets of post templates label item1 item2 */
/*that connect to category with selected styling per group*/
/*.item { !* Masonry bricks or child elements *!*/
/*    background-color: #eee;*/
/*    display: inline-block;*/
/*    margin: 0 0 1em;*/
/*    width: 100%;*/
/*}*/



/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:425px) {

    .header-border {
        height: 350px;
    }

   .header-fill{
        width: 350px;
        height: 265px;
    }



}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .header-fill{
        width: 663px;
        height: 235px;
        text-align: center;
    }
    .social-img {
        width: 85%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    /*body.community{*/
    /*    background-image: url("/img/lap-bg.png.png");*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: cover;*/
    /*}*/

.header-fill{
    width: 922px;
    height: 250px;
  }

    .social-img {
        width: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    /*body.community{*/
    /*    background-image: url("/img/lg-laptop-cork-bg.png");*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: cover;*/
    /*}*/

    .header-border {
        height: 490px
    }

    .header-fill{
        width: 1632px;
        height: 350px;
    }


    .social-img {
        width: 60%;
    }


}




@media screen and (min-width:2200px) {

    .header-border {
        height: 500px
    }

    .header-fill{
        width: 2299px;
        height: 360px;
    }

    .social-img {
        width: 65%;
    }


    /*.grid-container {*/
    /*    display: grid;*/
    /*    grid-template-areas:*/
    /*                "one one two two three three"*/
    /*                "one one two two three three"*/
    /*                "five five two two four four"*/
    /*                "five five  . .     four four"*/
    /*                "five five six six four four"*/
    /*                "five  five six six seven seven";*/
    /*    grid-gap: 3em;*/

    /*}*/


}


