
.index-container{
    display: flex;
}

.comm-post-card{
    margin: 10px;
    width: 21rem;

    box-shadow: rgba(9, 0, 0, 0.28) 10px 10px 10px;
}

.index-btn{
    box-shadow: rgba(9, 0, 0, 0.28) 10px 10px 10px;
}

.header-border {
    height: 250px
}
.header-fill{
    width: 300px;
    height: 180px
}

.social-img {
    width: 100%;
}

.read{
    color: white;
}

.edit{
    color: white;
}

.card-img-top {
    box-shadow: black -1px 10px 29px -3px;
}



/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:425px) {

    .header-border {
        height: 350px;
    }

   .header-fill{
        width: 350px;
        height: 265px;
    }



}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .header-fill{
        width: 663px;
        height: 235px;
        text-align: center;
    }
    .social-img {
        width: 85%;
    }

    .plan-grid-box {
        padding-top: 89px;
    }

    .home-logo{
        padding-top: 80px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {


.header-fill{
    width: 922px;
    height: 250px;
  }

    .social-img {
        width: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

    .header-border {
        height: 490px
    }

    .header-fill{
        width: 1632px;
        height: 350px;
    }


    .social-img {
        width: 60%;
    }


}




@media screen and (min-width:2200px) {

    .header-border {
        height: 500px
    }

    .header-fill{
        width: 2299px;
        height: 360px;
    }

    .social-img {
        width: 65%;
    }


}

