
body.login{
    background-image: url("/img/login-register.png");
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(136, 160, 99, 0.4);

}

.login-card{
    margin-top: 150px;
    margin-bottom: 100px;


}

#password{
    margin-right: 28px;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {


    #password{
        margin-right: 28px;
    }

}
@media screen and (min-width:2200px) {

    .login-card {
        margin-top: 350px;
        margin-bottom: 140px;
    }


}