
.nav-frag{
    text-align: center;
}


.logo {
    float: left;
    width: 0%;
}

#search {
    margin-top: 7px;
}
 #search-bar {
     font-size: 2px;
 }

 #search-box{
     float: left;
     width: 70%;
     font-size: 9px;
 }


 .fas {
     margin-left: 2px;
     margin-top: 3px;
     font-size: 12px;
     color: #444242;
 }

 #nav-login {
     font-size: 10px;
 }

#logout {
    font-size: 10px;
}

#register {
    font-size: 10px;
}

#navbarDropdown{
    font-size: 10px;
}


.dropdown-item {
    font-size: 10px;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {


}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    ul.nav-frag {
        margin-left: 170px;
    }


    #navbarDropdown{
        font-size: 20px;
    }


    .dropdown-item {
        font-size: 20px;
    }

    #login {
        font-size: 20px;
    }

    #logout {
        font-size: 20px;
    }

    #register {
        font-size: 20px;
    }

    #search {
        margin-top: 11px;
    }


}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    ul.nav-frag {
        margin-left: 250px;
    }

    #nav-login {
        font-size: 17px;
    }

    #logout {
        font-size: 17px;
    }

    #register {
        font-size: 17px;
    }

    #navbarDropdown{
        font-size: 17px;
    }


    .dropdown-item {
        font-size: 17px;
    }

    #search {
        margin-top: 9px;
    }


    #search-box{

        font-size: 14px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

    ul.nav-frag {
        margin-left: 590px;
    }


    #search {
        margin-top: 6px;
    }

    #search-bar {
        font-size: 10px;
    }

    #search-box{
        float: left;
        width: 70%;
        font-size: 15px;
    }

    .fas {
        margin-top: 4px;
        margin-left: 2px;
        font-size: 20px;
        color: #444242;
    }

    #nav-login {
        font-size: 13px;
    }

    #logout {
        font-size: 13px;
    }

    #register {
        font-size: 13px;
    }

    #navbarDropdown{
        font-size: 13px;
    }


    .dropdown-item {
        font-size: 13px;
    }

}

@media screen and (min-width:2200px) {
    .logo {
        width: 50%;
    }

    ul.nav-frag {
        margin-left: 1000px;
    }


    #search {
        margin-top: 13px;
    }

    #search-bar {
        font-size: 20px;
    }

    #search-box{
        float: left;
        width: 70%;
        font-size: 20px;
    }

    .fas {
        margin-top: 4px;
        margin-left: 2px;
        font-size: 30px;
        color: #444242;
    }

    #nav-login {
        font-size: 20px;
    }

    #logout {
        font-size: 20px;
    }

    #register {
        font-size: 20px;
    }

    #navbarDropdown{
        font-size: 20px;
    }


    .dropdown-item {
        font-size: 20px;
    }


}