.nav-container{
    display: flex;
}
.nav-list{
    float: right;
}
.nav-frag{
    text-align: center;
}


.logo {

    width: 40%;
}

#search-icon{
    display: flex;
    font-size: 15px;
    border-width: .5px;


}

 #search-bar {
     font-size: 2px;
 }

 #search-box{
     float: left;
     width: 70%;
     font-size: 9px;
 }


 #nav-login {
     font-size: 10px;
 }
#nav-about{
    font-size: 10px;
}

#logout {
    font-size: 10px;
}

#register {
    font-size: 10px;
}

#nav-community{
    font-size: 10px;
}


.dropdown-item {
    font-size: 10px;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {


}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    ul.nav-frag {
        margin-left: 170px;
    }



    .dropdown-item {
        font-size: 12px;
    }

    #login {
        font-size: 12px;
    }

    #logout {
        font-size: 12px;
    }
    #nav-about{
        font-size: 12px;
    }

    #nav-community{
        font-size: 12px;
    }

    #register {
        font-size: 20px;
    }

    #search-box{
        width: 100px;
    }
    #search-icon{
        display: flex;
        font-size: 16px;
        border-width: .5px;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    ul.nav-frag {
        margin-left: 250px;
    }

    #nav-login {
        font-size: 17px;
    }

    #logout {
        font-size: 18px;
    }

    #register {
        font-size: 17px;
    }
    #nav-community{
        font-size: 17px;
    }
    #nav-about{
        font-size: 17px;
    }

    #search-icon{
        display: flex;
        font-size: 23px;
        border-width: .5px;
    }
    .dropdown-item {
        font-size: 17px;
    }



    #search-box{

        font-size: 14px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

    ul.nav-frag {
        margin-left: 590px;
    }


    #search {
        margin-top: 6px;
    }

    #search-bar {
        font-size: 10px;
    }

    #search-box{
        float: left;
        width: 70%;
        font-size: 15px;
    }

    #search-icon.fa-search {
        display: flex;
        border-width: .5px;
        font-size: 20px;

    }

    #nav-login {
        font-size: 13px;
    }

    #logout {
        font-size: 13px;
    }

    #register {
        font-size: 13px;
    }

    #nav-community{
        font-size: 13px;
    }

    #nav-about{
        font-size: 13px;
    }



    .dropdown-item {
        font-size: 13px;
    }

}

@media screen and (min-width:2200px) {
    .logo {
        width: 50%;
    }

    ul.nav-frag {
        margin-left: 1000px;
    }

    #search-box{
        float: left;
        width: 70%;
        font-size: 20px;
    }

    #search-icon{
        display: flex;
       border-width: .5px;
        font-size: 30px;
        /*color: #444242;*/
    }

    #nav-login {
        font-size: 20px;
    }

    #logout {
        font-size: 20px;
    }

    #register {
        font-size: 20px;
    }

    #nav-community{
        font-size: 20px;
    }

    #nav-about{
        font-size: 20px;
    }


    .dropdown-item {
        font-size: 20px;
    }


}