
body.sign-up{
    background-image: url("/img/login-register.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(136, 160, 99, 0.4);

}

.signup-card-body {
    font-size: 11px;
}

.sign-up-card {
    margin-top: 75px;
    margin-bottom: 100px;
}

.signupEmail {
margin-left: 27px;
}

.signupPassword {
margin-left: 0px;
}


#passwordToConfirm {
    margin-right: 50px;
}

#sign-up-firstName, #sign-up-lastName {
    margin-right: 8px;
}

#sign-up-city{

    margin-right: -26px;

}

.signup-register-btn {
    margin-left: 32px;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.signup-register-btn.alert {
    padding: 5px;
}

.existing-login {
    margin-left: 27px;
}

@media screen and (min-width:768px) {

    .login-card-body {
        font-size: 15px;
    }

    .sign-up-card {
        margin-top: 100px;
        margin-bottom: 140px;
    }


    .signupEmail {
        margin-left: -9px;
    }

    .signupPassword {
        margin-left: -32px;
    }

    #passwordToConfirm {
        margin-right: 81px;
    }

    #sign-up-firstName, #sign-up-lastName {
        margin-right: 37px;
    }

    #sign-up-city{

        margin-right: 0px;

    }

    .register-btn {
        margin-left: 0px;
    }

    .existing-login {
        margin-left: 0px;
    }


}

@media screen and (min-width:2200px) {

    .sign-up-card {
        margin-top: 200px;
        margin-bottom: 140px;
    }


}