
.wrapper {
    padding-left: 30px;
    text-align: center;
}

.bio-row{
    margin: 0; !important;
    padding: 0; !important;
}

.bio-card-body {
    text-align: center;
}

.image--cover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px 20px 20px 20px;
    box-shadow: rgba(9, 0, 0, 0.87) 10px 10px 26px;

    object-fit: cover;
    object-position: center right;
}

.follow {
    box-shadow: rgba(2, 0, 0, 0.2) 2px 2px 6px 2px;
}

.analytics {
    margin-top: 60px;
}


.project-cover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px 108px 20px 20px;
    /*box-shadow: rgba(9, 0, 0, 0.87) 10px 10px 26px;*/

    object-fit: cover;
    object-position: center right;
}

.button-container{
    display:inline-block;
    position:relative;
    text-align: center;
}

.button-container a{
    position: absolute;
    bottom: 1em;
    right: 3em;
    background-color:dodgerblue;
    border: white solid 4px;
    border-radius:50%;
    color:white;
    font-size: 30px;
    text-transform:uppercase;
    padding: 0px 15px;
}

.posts {
    margin-top: 100px;
}


/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .image--cover {
        width: 365px;
        height: 365px;
        margin-top: 55px;

        float: left;

    }

    .bio-card-body {
        text-align: unset;
        margin-left: 175px;
        margin-top: 100px;
    }

    .follow{
        margin: 20px 0px 0px 40px;
    }

    .connect {
        margin-top: 40px;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    .image--cover {
        width: 400px;
        height: 400px;
        margin-top: 50px;
        margin-left: 175px;

    }


}

@media screen and (min-width:2200px) {

    .image--cover {
        width: 450px;
        height: 450px;
        margin-top: 50px;
        margin-left: 300px;

    }

    #first, #last {
        font-size: 40px;
    }

    #email, #github, #linkedin, #profile-bio {
        font-size: 25px;
    }

    .analytics {
        margin-top: 60px;
    }

}
